<hr>
<h1><%= beer.data.name %></h1>
<h3><%= beer.data.description %></h3>
<p>Style: <%= beer.data.style.shortName %></p>
<p>ABV: <%= beer.data.abv %>%</p>
<p>IBU: <%= beer.data.ibu %></p>
<img src="<%= beer.data.labels.large%>" alt="<%= beer.data.name + 'label'%>">
