<h4><%= brewery.data.name %></h4>
<p><%= brewery.data.description %></p>
<a href="<%= brewery.data.website %>"><%= brewery.data.website %></a>
<img src="<%= brewery.data.images.large%>" alt="<%= brewery.data.name + 'logo'%>">

<h5>List of Beers made by this Brewery:</h5>

<ul class="collection">
	<% beers.data.forEach(function(beer) { %>
			<li><a href="<%= '/beer/show/' + beer.id %>" class="collection-item"><%= beer.name %></a></li>
	<% }); %>
</ul>
