<a href="/beer/add/owned/<%= beer.data.id %>" class="btn">Add to Owned Beers</a>
<a href="/beer/add/wanted/<%= beer.data.id %>" class="btn">Add to Wanted Beers</a>
<h3><%= beer.data.name %></h3>
<p><%= beer.data.description %></p>
<p>Style: <%= beer.data.style.shortName %></p>
<p>ABV: <%= beer.data.abv %>%</p>
<p>IBU: <%= beer.data.ibu %></p>
<% if (typeof beer.data.labels != 'undefined') { %>
<img src="<%= beer.data.labels.large %>" alt="<%= beer.data.name + 'label'%>">
<% } %>

