<hr>
<button><a href="/beer/add/owned/<%= beer.data.id %>">Add to Owned Beers</a></button>
<button><a href="/beer/add/wanted/<%= beer.data.id %>">Add to Wanted Beers</a></button>
<hr>
<h1><%= beer.data.name %></h1>
<h3><%= beer.data.description %></h3>
<p>Style: <%= beer.data.style.shortName %></p>
<p>ABV: <%= beer.data.abv %>%</p>
<p>IBU: <%= beer.data.ibu %></p>
<% if (typeof beer.data.labels != 'undefined') { %>
<img src="<%= beer.data.labels.large %>" alt="<%= beer.data.name + 'label'%>">
<% } %>

